<!DOCTYPE>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
		Vue.component = (renderer => async (id, definition) => {
			if (definition.templateUrl) {
				definition.template = await (await fetch(definition.templateUrl)).text();

				delete definition.templateUrl;
			}
			return renderer.bind(Vue, id, definition);
		})(Vue.component);
	
        var project = {
            mappings: [ { value: 'a' }, { value: 'b' } ]
        };
        window.onload = async () => {
            Vue.component('my-component', { templateUrl: 'vue-template.html' });

            window.app = new Vue({
                el: '#app',
                data: {
                    model: project,
                    $dirty: false
                },
                computed: {
                    disable: function () { return !this.$data.$dirty; }
                },
                watch: {
                    '$data': {
                        handler: function (val,oldVal) { this.$data.$dirty = true; },
                        deep: true
                    }
                }
            });
        };
    </script>
</head>
<body>
    <div id="app">
        <div v-for="mapping in model.mappings">
            <input type="text" v-model=mapping.value />
        </div>
        <input type="submit" value="Save" :disabled=disable />

        <my-component></my-component>
    </div>
</body>
</html>